[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
psycopg2 = "*"
django-crispy-forms = "*"
pillow = "*"
cloudinary = "*"
django-decouple = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
